
/* Variabels for sidennav_width*/
:root {
  --sidenav_width: 15vw;
  --left_row_content: 60%;
  --top_navbar_width: 6vw;
  --navbar_background_colour: rgb(167, 205, 248);
  --navbar_text_colour: #ffffff; 
  --navbar_text_hover: rgb(24, 70, 130);
}

* {
  box-sizing: border-box;
}

/* Style the body */
body {
  font-family: Arial;
  margin: 0;
}

/* Content container */
.content {  
  display: flex;
  flex-wrap: wrap;
  margin-top: var(--top_navbar_width); /* als header uitstaat, aanzetten, anders weglaten*/

}

/* Fake image, just for this example */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Footer */
.footer {
  bottom:0;
  padding: 20px;
  position: fixed;
  text-align: center;
  background: #ddd;
  width:100%;
}

h1, h2, h3, h4, h5, h6 {
  display: block;
  margin-top: 1px;
  margin-bottom: 1px;
  font-weight: bold;
}

/* Header/logo Title */
/* .header {
  padding: 1px;
  margin-top: 50px;
  text-align: center;
  background: #1abc9c;
  color: white;
} */

/* Create two unequal columns that sits next to each other for the content of the website*/
/* Left row column */
.left_row_content {
  flex: var(--left_row_content); 
  background-color: #f1f1f1;
  padding: 2vw;
}

/* Style the side navigation bar */
.sidenav {
  display: nowrap;
  height: 100%;
  width: var(--sidenav_width); /* Same as the width of the sidenav */
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--navbar_background_colour);
  overflow-x: hidden;
  /* overflow-y: scroll; */
  /* padding-top: 20px; */
}

/* Style the side navigation bar list items */
.sidenav li {
  padding: 0px 4px 0px 0px;
  text-decoration: none;
  font-size: small;
  color: var(--navbar_text_colour);
  display: block;
}

/* Style the side navigation bar links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: medium;
  color: var(--navbar_text_colour);
  display: block;
}

/* Style the side navigation bar links on hover */
.sidenav a:hover {
  color: var(--navbar_text_hover);
}

/* Div to enclose the content of the website right of the side navbar*/
.sidenav_helper {
  margin-left: var(--sidenav_width); /* Same as the width of the sidenav */
}

/* Style the logo image */
.sidenav_logo_img {
  margin-left: 2vw;
  width: 5vw;
  height: auto; 
  object-fit: cover;
  /* mix-blend-mode: multiply; */
}

/* Style the organisation items */
.sidenav ul {
  margin: 0px;
  padding: 0px 0px 0px 40px;
}

/* Style the organisation items */
.sidenav ul li {
  display: block;
  padding: 4px 4px 0px 0px;
  text-decoration: none;
  font-size: small;
  color: var(--navbar_text_colour);
}

/* Style the side navigation bar links on hover */
.sidenav ul li:hover {
  color: var(--navbar_text_hover);
}

/* Style the top navigation bar */
.top_navbar {
  background-color: var(--navbar_background_colour);
  display: flex;
  height: var(--top_navbar_width);
  /* overflow: hidden; */
  position: fixed;
  top: 0;
  width: calc(100% - var(--sidenav_width)); /* Same as the width of the sidenav */
  /* z-index: 1; */
}

/* Style the top navigation bar left links*/
.top_navbar_left {
  display: flex;
  flex: 50%;
} 

/* Style the top navigation bar right links */
.top_navbar_right {
  display: flex;
  /* flex-wrap: wrap; */
  flex: 50%;
  /* flex-direction: row; */
  justify-content: flex-end;
  /* z-index: 1; */
}

/* Style the top navigation bar text */
.top_navbar_text {
  color: var(--navbar_text_colour);
  padding: 14px 16px;
  position: relative;
  text-decoration: none;
}

/* Style the top navigation bar anchors */
.top_navbar a {
  color: var(--navbar_text_colour);
  display: flex;
  font-size: medium;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
}

/* Style the top navigation bar links */
.top_navbar li {
  color: var(--navbar_text_colour);
  display: flex;
  font-size: medium;
  float: left;
  /* padding: 14px 16px; */
  text-align: center;
  text-decoration: none;
}

/* Style the unordered list in the navbar */
.top_navbar ul {
/* list-style-type: none; */
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
}

/* Change color of the top naviagation bar on hover */
.top_navbar a:hover {
  color: var(--navbar_text_hover);
}

/* Style The Dropdown Button */
.top_navbar_dropbtn {
  background-color: var(--navbar_background_colour);
  border: none;
  color: var(--navbar_text_colour);
  cursor: pointer;
  display: flexbox;
  /* display: inline-flex; */
  /* float: left; */
  font-size: medium;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
  /* z-index: 1; */
}

/* The container <div> - needed to position the dropdown content */
.top_navbar_dropdown { 
  display: block;
  position: relative;
  /* display: inline-flexflex; */
  /* flex-direction: column; */
  overflow-y: visible;
  /* z-index: 1; */
}

/* Dropdown Content (Hidden by Default) */
.top_navbar_dropdown-content {
  background-color: var(--navbar_background_colour);
  /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
  display: none;
  flex-direction: column;
  /* min-width: 160px; */
  position: absolute;
  width: 100%;
  /* z-index: 1; */
}

/* Links inside the dropdown */
.top_navbar_dropdown-content a {
  color: var(--navbar_text_colour);
  display: left;
  padding: 5px 16px;
  text-align: left;
  /* text-decoration: none;
  /* z-index: 1; */
}

/* Change color of dropdown links on hover */
/* .top_navbar_dropdown-content a:hover {
  background-color: #f1f1f1;
  z-index: 1;
} */

/* Show the dropdown menu on hover */
.top_navbar_dropdown:hover .top_navbar_dropdown-content {
  display: flex;
  /* z-index: 1; */
}

/* Change the background color of the dropdown button when the dropdown content is shown
.top_navbar_dropdown:hover .top_navbar_dropbtn {
  background-color: #3e8e41;
} */

/* Create two unequal columns that sits next to each other for the content of the website */
/* Right row column */
.right_row_content {
      flex: calc(100% - var(--left_row_content));
      background-color: white;
      padding: 20px;
}

/* Responsive layout - when the screen is less than 775px wide, make the two columns 
stack on top of each other instead of next to each other */

    /* Size the side navbar widht */
    @media screen and (max-width: 870px) {
      .sidenav, .sidenav_helper, .top_navbar {   
        --sidenav_width: 20vw;
        --top_navbar_width: 15vw;
      }
    }

    /* Set the top navbar and content to column starting from the first element */
    @media screen and (max-width: 870px) {
      .content, .top_navbar, .top_navbar_right {   
        flex-direction: column;
        justify-content: flex-start;
      }
    }
    
    /* Change the sizing of the anchors and the top navbar */
    @media screen and (max-width: 870px) {
      .sidenav a, .top_navbar a, .top_navbar_text, .top_navbar_dropbtn {   
        display: flex;
        color: var(--navbar_text_colour); 
        font-size: medium;
        justify-content: space-evenly;
        padding: 4px 6px;
        text-align: left;
      }
    }
    
    /* Change the sizing of the links in the side navbar */
    @media screen and (max-width: 870px) {
      .sidenav li {   
        display: flex;
        color: var(--navbar_text_colour); 
        font-size: xx-small;
        justify-content: space-evenly;
        padding: 4px 6px;
        text-align: left;
      }
    }

    /* Set the unordered list and links in line with the anchor tags */
    @media screen and (max-width: 870px) {
      .sidenav ul, .sidenav ul li {   
        justify-content: flex-start;
        padding: 4px 4px;
        text-align: center;
      }
    }
    
    /* Hide the sidenav text, only show the icons */
    @media screen and (max-width: 870px) {
      .sidenav not_visible, .top_navbar_dropdown not_visible {   
        display: none !important;
        /* width: 100%; */
      }
    }

    /* Hide the top_navbar_dropdown text, only show the hamburger */
    @media screen and (max-width: 870px) {
      .top_navbar_dropdown-content{   
        background-color: var(--navbar_background_colour);
        width: max-content;

      }
    }

    /* Set the icon in the middle */
    @media screen and (max-width: 870px) {
      .sidenav_logo_img {
        margin-left: 0vw; 
      }
    }

    /* Set the icon in the middle */
    @media screen and (max-width: 870px) {
      .footer {
        bottom:0;
        font-size: xx-small;
        padding: 5px;
        position: fixed;
        text-align: center;
        background: #ddd;
        /* width:100%; */
      }
    }